<!DOCTYPE html>
<html lang="en">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='chat_page.css') }}">
</head>

<body>
    <div class="container">
        <!-- Sidebar for User List -->
        <div class="sidebar">
            <button  onclick="location.href='{{ url_for('website.home') }}';" style="cursor:pointer;">Logout</button>
            <!-- User List -->
            <div class="user-list">
                <div class="user" data-username="user1">user1</div>
                <div class="user" data-username="user2">User 2</div>
            </div>
        </div>

        <!-- Main Chat Area -->
        <div class="main-chat">
            <div class = "chat-header">
                <div class = "current-user">{{ user }}</div>
            </div>
            <div class="chat-logs" id = "chatLogs">
                <!-- Individual chat messages go here -->
            </div>

            <!-- Chat Box -->
            <div class="chat-box">
                <textarea id="messageInput" placeholder="Type your message..."></textarea>
                <button onclick="sendMessage()">Send</button>
            </div>
        </div>
    </div>
</body>

</html>
