<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>

<body>
    <header>
        <h1>Optic</h1>
        <p>Your private and encrypted communication platform</p>
    </header>

    <main>
        <section id="login">
            <!-- Use the <h2> element as a hyperlink to the login page -->
            <h2 onclick="location.href='{{ url_for('website.login') }}';" style="cursor:pointer;">Login</h2>

        </section>


        <section id="signup">
            <h2 onClick="location.href='{{ url_for('website.signup') }}';" style="cursor:pointer;">Sign Up</h2>
        </section>
    </main>

    <footer>
        <p>Oxford Brookes - Final Year Project 2023/24</p>
    </footer>

</body>

</html>
