<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Secure GPG Messaging App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
</head>

<body>
    <header>
        <h1>Sign Up Page</h1>
    </header>
    <form id="signupForm">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>

        <button type="submit" id="signup">Create your account now!</button>

        <a href="/login" class="login-button">Already have an account? Log in here</a>
    </form>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/static/scripts/signup.js"></script>
    <footer>

    </footer>
</body>
</html>
