body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url("website background.jpg");
    background-size: cover;
    background-color: #f8f8f8;
    transition: background 0.5s ease-in-out;
    animation: subtleMovement 100s infinite linear;
}



header {
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 1.5em;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

form {
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

form button {
    text-align: center;
    cursor: pointer;
    padding: 15px 30px;
    background: linear-gradient(to right, #0044cc, #66ccff);
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 1.8em;
    position: relative;
    overflow: hidden;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

form button:hover {
    transform: scale(1.1);
    background: linear-gradient(to right, #00b300, #009900);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.login-button {
    text-align: center;
    cursor: pointer;
    padding: 15px 30px;
    background: linear-gradient(to right, #b30000, #ff0000);
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 1.8em; /* Adjusted to match the form button */
    position: relative;
    overflow: hidden;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    text-decoration: none;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-button:hover {
    transform: scale(1.1);
    background: linear-gradient(to right, #009900, #00cc00);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}


.back-button{
    top: 20px;
    left: 20px;
    text-align: center;
    cursor: pointer;
    padding: 15px 30px;
    background: linear-gradient(to right, #0044cc, #66ccff);
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 1.8em;
    position: fixed;
    overflow: hidden;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
.back-button:hover{
    transform: scale(1.1);
    background: linear-gradient(to right,#009900, #00cc00);
    box-shadow: 0 8px 12px rgba(0,0,0,0.3);
}


label {
    font-size: 1.6em;
    color: #ffffff;
    margin-bottom: 0.5em;
}

input {
    padding: 14px;
    margin-bottom: 0.5em;
    border: 3px solid #FFD700;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 1.4em;
    outline: none;
    transition: border-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background-color: rgba(255,255,255,0.9);
    color: #333333;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input:focus {
    border-color: #FF8C00;
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.login-button {
    text-align: center;
    cursor: pointer;
    padding: 15px 30px;
    background: linear-gradient(to right, darkred, maroon);
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 1.4em;
    position: relative;
    overflow: hidden;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-decoration: none;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-button:hover {
    transform: scale(1.05);
    background: linear-gradient(to right, #00b300, #009900);
    box-shadow: 0 8px 12px rgba(0,0,0,0.2);
}

footer {
    text-align: center;
    padding: 2.5em;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
}

@media (max-width: 768px) {
    header h1{
        font-size: 2em;
    }
    form button,
    .back-button {
        font-size: 1.5em;
        padding: 10px 25px;
    }

    input {
        font-size: 1.2em;
    }
    footer{
        padding: 1em;
    }
}
