body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url("website background.jpg");
    background-size: cover;
    background-color: #f8f8f8;
    transition: background 0.5s ease-in-out;
    animation: subtleMovement 100s infinite linear;
}

header {
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 2em;
}


header h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #fff;
}

header p{
    font-size: 1.2em;
    color: #ccc;
}
section h2 {
    text-align: center;
    cursor: pointer;
    padding: 15px 30px;
    background: linear-gradient(to right, #0044cc, #66ccff);
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 1.8em;
    position: relative;
    overflow: hidden;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

section h2:hover {
    transform: scale(1.1);
    background: linear-gradient(to right, #00b300, #009900);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

section h2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    z-index: -1;
    transform: skew(-20deg);
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

section {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 40px;
    width: 300px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 20px;
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

section:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p{
    font-size: 1.2em;
    color: #ccc;
}

